.image {
  width: 180px;
  margin-left: 20px;
}
.imagee {
  width: 20px;
  height: 20px;
  float: left;
  display: flex;
  flex-direction: column;
  margin-top: 5px;
}

.link {
  text-decoration: none;
  color: black;
  font-family: var(--ta-sans-serif);
  font-weight: 600;
  font-size: 16px;
}

.direction {
  display: flex;
  flex-direction: row;
  gap: 70px;
  margin-top: 50px;
  margin-left: 2%;
}
.button {
  width: 80px;
  height: 50px;
  background-color: black;
  color: white;
  font-weight: 600;
  border-radius: 25px;
}
.hotels {
  width: 30px;
  margin-top: 5px;
}
.dire {
  display: flex;
  gap: 40px;
}
.firstbut {
  margin-left: 20px;
}
.firstbutbb {
  width: 165px;
  height: 80px;
  border-radius: 20px;
  background-color: white;
}
.firstbutbb:hover {
  background-color: black;
  color: white;
}
.p:hover {
  color: white;
}
.search {
  background-image: url("https://static.tacdn.com/img2/brand/home/home614_dt.jpg");
  height: 400px;
  width: 1300px;
  margin: auto;
  margin-top: 50px;
  margin-left: 20px;
}
.search > form > input {
  height: 60px;
  width: 780px;
  border-radius: 25px;
  margin: auto;
  /* margin-top: 50px; */
  margin-left: 18%;

}
.icon {
  width: 50px;
  border-radius: 20px;
  margin-top: 15px;
  
}
.b {
  margin-top: 160px;
}
.abhu{
  width: 25%;
}