.footer-main-div-comp {
  width: 100%;
  height: 150px;
  float: left;
  background: #faf1ed;
}

.footer-terms-conditions {
  width: 60%;
  height: 100px;
  margin-top: 25px;
  margin-left: 100px;
  float: left;

  display: grid;
  grid-template: "div" "div";
}

.footer-t-c-info-logo {
  width: 50px;
  height: 50px;
  float: left;
}
.footer-t-c-info-logo > img {
  width: 50px;
  height: 50px;
  position: relative;
}
.All-rights {
  width: 90%;
  float: left;
  height: 25px;
  margin-left: 2%;
}
.footer-t-c-links {
  width: 90%;
  float: left;
  height: 40px;
  margin-left: 2%;
  display: flex;
  justify-content: space-between;
}
.terms-cond-link-styles {
  font-size: 18px;
  font-weight: 600;
  color: rgb(66, 64, 64);
}
.terms-cond-link-styles:hover {
  color: rgb(114, 109, 109);
}
.copyright-info {
  font-size: 13px;
}

.more {
  text-decoration: none;
  font-weight: bold;
  color: black;
}
.more:hover {
  text-decoration: underline;
  color: black;
}
.currency-country {
  width: 30%;
  height: 40px;
  float: left;
  margin-top: 30px;
  display: grid;
  grid-template: "select select";
  gap: 20px;
}

.currency-country > select {
  border-radius: 10px;
  outline: none;
}
.select-currency {
  font-size: 20px;
  font-weight: 700;
  padding-left: 20px;
}
.select-country {
  font-size: 20px;
  font-weight: 700;
  padding-left: 20px;
}
