.rentalas_top_cont {
  width: 1230px;
  min-height: 2000px;
  margin: 16px 35px 0px 35px;
  /* background-color: #ffffff; */
  padding: 0 24px 0 24px;
  /* border: 1px solid saddlebrown; */
  background-color: #f2f2f2;
}

.rentals_left_cont {
  width: 240px;
  min-height: 2000px;
  padding: 24px 24px 24px 24px;
  border: 1px solid #e0e0e0;
  float: left;
  margin-right: 30px;
}
.rentals_right_cont {
  width: 900px;
  min-height: 2000px;
  /* border: 1px solid black; */
  float: left;
}
.sort_cont {
  display: flex;
  height: 50px;
  width: 900px;
  /* border: 1px solid cyan; */

}
.sort_cont div {
  width: 50%;
  height: 50px;
  /* border: 1px solid red; */
}
.sorting_cont {
  padding-left: 500px;
}
.sorting_cont_input{
  width: 152px;
  height: 14px;
  border: 1px solid #d3d3d3;
}
.loading {
  margin-left: 360px;
  margin-top: 20px;
}
.head_title {
  text-align: center;
}
.top_calender {
  display: flex;
  width: 1200px;
  height: 100px;
  border: 1px solid gray;
  margin: auto;
  align-items: center;
}
.top_calender div {
  width: 33%;
  height: 70px;
  border: 1px solid red;
}

/* //For Containers */
.container_top {
  display: flex;
  min-height: 220px;
  width: 850px;
  border: 1px solid #e0e0e0;
  padding: 16px 16px 16px 16px;
  background-color: #ffffff;
  /* border: 1px solid red; */
}

.container_top div {
  width: 33%;
  /* border: 1px solid green; */
  margin: 5px;
}
.info_cont div {
  width: 280px;
  height: 21px;
  /* border: 1px solid cyan; */
  margin: 0 0 5px 0;
}
.title {
  font-size: 20px;
  font-weight: 500;
}
.gray {
  color: #575757;
  font-size: 14px;
}
.price_btn {
  background-color: #f2b203;
  height: 36px;
  width: 276px;
  color: black;
  padding: 8px 16px 8px 16px;
  border: 1px solid #fee190;
  border-radius: 30px;
}
.price_cont {
  margin-left: 50px;
}
.pln {
  color: black;
  font-size: 20px;
  font-weight: 500;
}
.prevnext_btn {
  background-color: white;
  border: none;
}
.more_info {
  color: #575757;

}
.rental_length {
  font-size: 16px;
  color: black;
  font-weight: 600;
}
