/* HomeRental section */

.header {
  font-size: 28px;
  font-weight: 700;
  color: #000000;
  margin-left: 103px;
  margin-top: 100px;
}
.homerental_top_cont {
  display: flex;
  width: 1184px;
  margin: 0 83px 0 83px;
  padding: 0 24px 0 24px;
  height: 568px;
  /* border: 1px solid cyan; */
}

.left_cont {
  width: 310px;

  font-size: 24px;
  font-weight: 600;
}
.right_cont {
  /* display: flex; */
  width: 1000px;
  /* border: 1px solid rgb(0, 255, 30); */
}
.right_cont div {
  width: 270px;
  height: 270px;
  float: left;
  margin: 5px;
}
.right_cont p {
  line-height: 5px;
}
.homerental_location {
  text-decoration: none;
  color: #000000;
  font-size: 18px;
  font-weight: 600;
}
.homerental_count {
  color: #000000;
  font-size: 16px;
  font-weight: 500;
}
.homerental_location:hover {
  color: #545454;
  text-decoration: underline;
}
.right_cont img {
  opacity: 1;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
.right_cont img:hover {
  opacity: 0.5;
}
/* home rental part ended here */

/* Travel Guide section starts here */
.traveller_guide_header {
  font-size: 28px;
  font-weight: bolder;
  color: #000000;
  margin-left: 100px;
}
.traveller_guide_cont {
  display: flex;
  /* border: 1px dotted orange; */
  width: 1100px;
  height: 357px;
  margin: auto;
}
.traveller_guide_cont div {
  width: 33%;
  height: 356px;
  /* border: 1px solid black; */
}
.traveller_guide_cont p {
  line-height: 0px;
}
.traveller_guide_link {
  text-decoration: none;
  color: #000000;
  font-size: 18px;
  font-weight: 500;
}
.traveller_guide_link:hover {
  text-decoration: underline;
  color: #545454;
}
.traveller_guide_items {
  font-size: 14px;
  color: #333333;
}
.traveller_guide_logo {
  font-size: 14px;
  color: #545454;
}

.traveller_guide_cont img {
  opacity: 1;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
.traveller_guide_cont img:hover {
  opacity: 0.5;
}
